body{
    margin: 0;
    padding: 0;
    font-family: 'Genos', sans-serif;
}

.header {
    border: 1px solid #eee;
}
.header .navbar-nav{
    margin-right: 10%;
}
.header .nav-item a{
    font-size: 1.3rem;
    color: #111;
}
.header .navbar-toggler i{
    font-size: 1.7rem;
}
.header .nav-item a:hover{
    color: rgb(212, 26, 35);
}
.header .form-inline .dot{
    position: relative;
    height: 37px;
    width: 37px;
    border: 1px solid gray;
    border-radius: 50%;
    display: inline-block;
}
.header .form-inline .dot a{
    position: absolute;
    top: 8px;
    left: 10px;
    color: #111;
}
.header .form-inline .dot a:hover{
    color: rgb(212, 26, 35)
}
.owl-theme .owl-nav{
    font-size: 40px;
}
.owl-theme .owl-nav .owl-prev{
    position: absolute;
    left: -50px;
    top: 28%;
}
.owl-theme .owl-nav .owl-next{
    position: absolute;
    right: -50px;
    top: 28%;
}
.owl-theme .owl-nav button{
    width: 40px;
}
.owl-theme .owl-nav button:focus{
    outline: none;
}
.lastestProduct{
    border-bottom: 1px solid #eee;
}
.lastestProduct .product-item{
    padding-top: 22px;
    padding-bottom: 22px;
}
.lastestProduct .product-item:hover{
    border: 1px solid #eee;
    color: rgb(221, 66, 66);
}
.lastestProduct .product-item a{
    text-decoration: none;
    color: #111;
}
.menu-footer {
    border-top: solid 1px #eee;
}
.menu-footer a{
    color: #111;
    text-decoration: none;
    font-size: 16px;
}
.menu-footer a:hover{
    color: rgb(212, 26, 35);
}
.menu-footer .icon-social .fa-facebook-square{
    color: blue;
    font-size: 25px;
}
.menu-footer .icon-social .fa-instagram{
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    -webkit-background-clip: text;
    /* Also define standard property for compatibility */
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 25px;
}
.menu-footer .icon-social .fa-youtube{
    font-size: 25px;
    color: red;
}
.footer {
    background: #eee;
    text-align: center;
}
.footer p{
    font-size: 14px;
    margin-bottom: 0;
}